version: '2'
services:
  mirakurun:
    build:
      context: mirakurun
    container_name: mirakurun
    privileged: True
    ports:
      - "40772:40772"
    devices:
      - /dev/bus/usb/001/003 # Card Reader
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./mirakurun/conf:/usr/local/etc/mirakurun
      - ./mirakurun/db:/usr/local/var/db/mirakurun
  chinachu:
    build:
      context: chinachu
      args:
       - REPOSITORY=git://github.com/Chinachu/Chinachu.git
       - BRANCH=gamma
    container_name: chinachu
    ports:
      - "20772:20772"
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./chinachu/conf/config.json:/usr/local/chinachu/config.json
      - ./chinachu/conf/rules.json:/usr/local/chinachu/rules.json
      - ./chinachu/data:/usr/local/chinachu/data
      - ./recorded:/usr/local/chinachu/recorded
#    links:
#      - "mirakurun:mirakurun"
  mirakurun-s270:
    build:
      context: s270
    container_name: s270
    privileged: True
    volumes:
      - /dev/dvb/adapter0:/dev/dvb/adapter0
      - /etc/localtime:/etc/localtime:ro
      - ./s270/conf:/usr/local/etc/mirakurun
      - ./s270/db:/usr/local/var/db/mirakurun
  mirakurun-px4:
    build:
      context: px4
    container_name: px4
    privileged: True
    devices:
      - /dev/px4video0
      - /dev/px4video1
      - /dev/px4video2
      - /dev/px4video3
      - /dev/dvb/adapter0:/dev/dvb/adapter0
      - /etc/localtime:/etc/localtime:ro
